# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log
/tmp
.idea/
*.DS_Store
*.keep

# Enviroment variables
/config/local_env.yml
/config/secrets.yml

# Coverage folder
/coverage/