<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
  <h1>TubeFedzt</h1>
  <h3>Message from crew:</h3>
  <p>
    <%= @message %>
  </p>
  </p><a href="http://tubefedzt.herokuapp.com">Join TubeFedzt today!</a></p>
</body>
</html>