<div class="col-md-12">
  <div class="text-center">
    <h1>Edit Song</h1>
  </div>

  <div class="col-center">
    <%= render 'form' %>
    <%= link_to 'Pre-listen', @song %> </br>
    <%= link_to 'Remove', @song, method: :delete, data: { confirm:  'Are you sure?' } %>
  </div>
</div>
